:root {
    --primary-font: "Open Sans", sans-serif;
    --primary-font-size: 18px;
    --accent-color: #FF6C00;
    --primary-text-color-theme-light: #555555;
    --secondary-text-color-theme-light: #303030;
    --primary-text-color-theme-dark: #9DA4BD;
    --secondary-text-color-theme-dark: #FFFFFF;

    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
 
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
   text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
}

/* COMPONENTS */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-btn {
    width: 160px;
    height: 40px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12 20;

    /* color: #FFFFFF; */
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
}


/* /COMPONENTS */

/* HEADER */

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-header-flex {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo-link { 
    margin-right: 100px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-list-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    /* color: #FFFFFF;
     */
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}


.header-btn {
    margin-left: 43px;
}

/* /HEADER */

/* HERO */

/* .hero {} */

.hero-left-side {
    width: 100px;
}

.hero-list {
    display: flex;
    gap: 40px;

}

.hero-list-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color-theme-light);
}

.hero-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

.hero-right-side {
    margin-right: auto;
}

/* /HERO */

.about {}

.prices {}

.features {}

.our-barbers {}

.gallery {}

.contacts {}