:root {
    --primary-font: "Open Sans", sans-serif;
    --primary-font-size: 18px;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
 
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
   text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
}

/* COMPONENTS */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-btn {
    width: 160px;
    height: 40px;
    border: 1px solid #FF6C00;
    background-color: transparent;
    border-radius: 25px;
}

/* /COMPONENTS */

/* HEADER */

.page-header-flex {
    display: flex;
}

.page-nav {
    display: flex;
}

.logo-link { 
    margin-right: 100px;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-list-item {}

.header-list-link {
    
}

.header-contacts {
    display: flex;
    margin-left: auto;    
}


.header-btn {
    margin-left: 43px;
}

/* /HEADER */

.hero {}

.hero-left-side {}

.hero-right-side {}

.about {}

.prices {}

.features {}

.our-barbers {}

.gallery {}

.contacts {}