:root {
    --primary-font: "Open Sans", sans-serif;
    --primary-font-size: 18px;
    --accent-color: #FF6C00;
    --primary-text-color-theme-light: #555555;
    --secondary-text-color-theme-light: #303030;
    --primary-text-color-theme-dark: #9DA4BD;
    --secondary-text-color-theme-dark: #FFFFFF;

    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
 
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
   text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}


body {
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
}

/* COMPONENTS */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-btn {
    width: 160px;
    height: 40px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12 20;

    /* color: #FFFFFF; */
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
}

.uppertitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;  
    margin-bottom: 20px;  
}

.uppertitle::before {
    content: '';
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 20px;
    
}

.description {    
    font-size: 18px;
    line-height: 1.67;   
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.small-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}

/* /COMPONENTS */

/* HEADER */

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-header-flex {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo-link { 
    margin-right: 100px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-list-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    /* color: #FFFFFF;
     */
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}


.header-btn {
    margin-left: 43px;
    margin-right: 17px;
}

/* /HEADER */

/* HERO */

/* .hero {} */

.hero-flex {
    display: flex;
}

.hero-left-side {
    width: 100px;
}

.hero-list {
    display: flex;
    gap: 40px;

}

.hero-list-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color-theme-light);
}

.hero-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

.hero-right-side {
    min-width: 1070px;
    padding-top: 152px;
    padding-bottom: 208px;
    padding-left: 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img.jpg)
}

.theme-dark-uppertitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.hero-description {
    width: 360px;
}



/* /HERO */

/* ABOUT */


.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-flex {
    display: flex;
}

.about-information {
    width: 470px;
}

.about-list {
    display: flex;
    
}

.about-list-item {
    margin-right: 30px;
}

.about-description {
    margin-bottom: 20px;
    color: #555555;
}

.description.small-text {
    margin-bottom: 42px;
}
/* /ABOUT */

/* PRICES */

.services-prices {
    padding-top: 110px;
    padding-bottom: 130px;
    background-image: url(../images/prices.png);
    background-color: #111319; 
    background-size: cover;      
}

.services-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices {
    display: flex;
    font-size: 18px;
    line-height: 1.67;  
    letter-spacing: 0.02em;
    color: #9DA4BD;
    gap: 30px; 
    justify-content: space-between;      
}

.services-uppertitle {
    color: rgba(157, 164, 189, 0.6);
}

.services-title {
    color: #FFFFFF;
    margin-bottom: 44px;
}



.left-side {
    width: 570px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    display: flex;
    justify-content: space-between;

}
.right-side {
    width: 570px;
    height: 240px;
    padding: 30px 22px 28px 20px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    border-spacing: 0px;    
}


/* .main-cell {
    width: 100%;
} */

/* .price-cell {
    width: 100%;
} */
 
.services-button {
    color: #FFFFFF;
    margin-top: 56px;
}



/* /PRICES */

/* FEATURES */

.features {
    padding-top: 115px;
    padding-bottom: 125px;
}

.features-flex {
    display: flex;
    gap: 130px;
    padding-left: 70px;
}

.number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.number-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
} 

.features-title {
    width: 430px;
}

.features-description {
    width: 500px;
}

/* /FEATURES */

/* OUR-BARBERS */

.our-barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F7F7F7;
}

.our-barbers-title {
    margin-bottom: 44px;
}

.our-barbers-list {
    display: flex;
    gap: 30px;
}

.name {   
    font-size: 18px;
    line-height: 1.39;           
    text-align: center;
    letter-spacing: 0.02em;    
    color: #303030;
    margin-top: 30px;
}

.profi {

    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF6C00;
    margin-top: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-item {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    
}

.social-list-icon {
    fill: #303030;
}

/* /OUR-BARBERS */

/* Gallery */

.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.change {
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    gap: 30px;
}

/* /Gallery */

/* Contacts */

.contacts {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: #191C26;
}

.contacts-image {
    background-image: url(../images/bg-contacts.png);
}
/* /Contacts */

/* Footer */

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.copyright {    
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;   
    letter-spacing: 0.2em;
    color: #9DA4BD;
}

/* /Footer */



